{{#partial "content" }}
    <link rel="stylesheet" href="/css/calendar.css">
    </head>
    <!-- Navigation -->
    {{> Nav.hbs}}
    <body class="sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="nav-container" style="position: relative">
                <ol class="breadcrumb shadow">
                    <li class="breadcrumb-item">
                        <a href="/usuario/{{idUser}}">Que Me Pongo</a>
                    </li>
                    <li class="breadcrumb-item active">{{section}}</li>
                </ol>
                <button class="btn btn-sm btn-success" id="myBtn" title="Agregar evento" data-toggle="modal" data-target="#addEvent" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);">
                    <i class="fal fa-calendar-plus"></i>
                </button>
            </div>
            <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
                <div class="border-dark modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title" id="addEventLabel">Agregar evento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-signin">
                                <div class="form-row">
                                    <div class="col-md">
                                        <label for="fechaEvento">Fecha</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-calendar-day"></i></span>
                                            </div>
                                            <input type="datetime-local" class="form-control" aria-label="fechaEvento" name="fechaEvento" id="fechaEvento" title="Seleccionar fecha">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <label for="tipoEvento">Tipo:</label>
                                        <select id="tipoEvento" class="custom-select custom-select-sm" title="Seleccione un tipo de evento">
                                            <option selected>Seleccione uno</option>
                                            <option value="casual">Casual</option>
                                            <option value="formal">Formal</option>
                                            <option value="fiesta">Fiesta</option>
                                            <option value="deportes">Deportes</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion</label>
                                            <textarea class="form-control" id="descripcion" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-block" onclick="agregarEvento();">
                                <i class="fal fa-plus"></i>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center shadow">
                <div class="card-header">
                    <div class="nav-container" style="position: relative">
                        <a id="prevMonth" href="#" title="Mes anterior" style="position:absolute; left:0.1rem; top:50%; transform:translateY(-50%); color: white; cursor: pointer">
                            <i class="fal fa-arrow-left"></i>
                        </a>
                        <ol class="nav nav-pills nav-fill card-header-pills">
                            <li class="nav-item">
                                <p class="nav-link active mb-0" id="calendarDate" data-year="{{year}}" data-month="{{monthNumber}}">
                                    {{monthName}} {{year}}
                                </p>
                            </li>
                        </ol>
                        <a id="nextMonth" href="#" title="Mes siguiente" style="position:absolute; right:0.1rem; top:50%; transform:translateY(-50%); color: white; cursor: pointer">
                            <i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="container-fluid">
                    <header>
                        <div class="row d-none d-sm-flex p-1 bg-dark text-white">
                            <h5 class="col-sm p-1 text-center">Domingo</h5>
                            <h5 class="col-sm p-1 text-center">Lunes</h5>
                            <h5 class="col-sm p-1 text-center">Martes</h5>
                            <h5 class="col-sm p-1 text-center">Miercoles</h5>
                            <h5 class="col-sm p-1 text-center">Jueves</h5>
                            <h5 class="col-sm p-1 text-center">Viernes</h5>
                            <h5 class="col-sm p-1 text-center">Sabado</h5>
                        </div>
                    </header>
                    <div class="row border border-right-0 border-bottom-0">
                        {{#each semanas}}
                            <div data-week="{{@index}}" data-day="{{domingo}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{domingo}}</span>
                                    <small class="col d-sm-none text-center text-muted">Domingo</small>
                                    <span class="col-1"></span>
                                </h5>
                                <p class="d-sm-none">No events</p>
                            </div>
                            <div data-week="{{@index}}" data-day="{{lunes}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{lunes}}</span>
                                    <small class="col d-sm-none text-center text-muted">Lunes</small>
                                    <span class="col-1"></span>
                                </h5>
                                <p class="d-sm-none">No events</p>
                            </div>
                            <div data-week="{{@index}}" data-day="{{martes}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{martes}}</span>
                                    <small class="col d-sm-none text-center text-muted">Martes</small>
                                    <span class="col-1"></span>
                                </h5>
                                <p class="d-sm-none">No events</p>
                            </div>
                            <div data-week="{{@index}}" data-day="{{miercoles}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{miercoles}}</span>
                                    <small class="col d-sm-none text-center text-muted">Miercoles</small>
                                    <span class="col-1"></span>
                                </h5>
                                <p class="d-sm-none">No events</p>
                            </div>
                            <div data-week="{{@index}}" data-day="{{jueves}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{jueves}}</span>
                                    <small class="col d-sm-none text-center text-muted">Jueves</small>
                                    <span class="col-1"></span>
                                </h5>
                                <p class="d-sm-none">No events</p>
                            </div>
                            <div data-week="{{@index}}" data-day="{{viernes}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{viernes}}</span>
                                    <small class="col d-sm-none text-center text-muted">Viernes</small>
                                    <span class="col-1"></span>
                                </h5>
                                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white" title="Test Event 1">Test Event 1</a>
                            </div>
                            <div data-week="{{@index}}" data-day="{{sabado}}" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                                <h5 class="row align-items-center">
                                    <span class="date col-1">{{sabado}}</span>
                                    <small class="col d-sm-none text-center text-muted">Sabado</small>
                                    <span class="col-1"></span>
                                </h5>
                                <p class="d-sm-none">No events</p>
                            </div>
                            <div class="w-100"></div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <script>
        let calendarDate = document.getElementById('calendarDate');
        let actualMonth = parseInt(calendarDate.dataset.month);
        let actualYear = parseInt(calendarDate.dataset.year);
        Array.from(document.querySelectorAll("[data-week='0']")).filter(div => div.dataset.day > 7).forEach(div => div.className += " d-none d-sm-inline-block bg-light text-muted");
        let maxWeek = Math.max(...Array.from(document.querySelectorAll("[data-week]")).map(div => parseInt(div.dataset.week)));
        Array.from(document.querySelectorAll("[data-week='" + maxWeek + "']")).filter(div => div.dataset.day < 7).forEach(div => div.className += " d-none d-sm-inline-block bg-light text-muted");
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth() + 1;
        let yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
        }

        let todayString = yyyy + '-' + mm + '-' + dd;
        document.getElementById('fechaEvento').setAttribute('min', todayString);

        function completeLink(id, month, year) {
            document.getElementById(id).href = location.protocol + '//' + location.host + '/calendar/' + month + '/' + year;
        }
        function prevMonth() {
            let prevMonth;
            let prevYear;

            if((actualMonth - 1) === -1){
                prevMonth = 11;
                prevYear = actualYear - 1;
            } else {
                prevMonth = actualMonth - 1;
                prevYear = actualYear;
            }
            completeLink('prevMonth', prevMonth, prevYear);
        }

        function nextMonth(){
            let nextMonth;
            let nextYear;

            if((actualMonth + 1) === 12){
                nextMonth = 0;
                nextYear = actualYear + 1;
            } else {
                nextMonth = actualMonth + 1;
                nextYear = actualYear;
            }
            completeLink('nextMonth', nextMonth, nextYear);
        }
        prevMonth();
        nextMonth();

        function agregarEvento() {
            let fecha = document.getElementById('fechaEvento').value;
            let tipo = document.getElementById('tipoEvento').value;
            let descripcion = document.getElementById('descripcion').value;
            if (fecha === ""){
                toast('Debe completar la fecha y hora del evento', 'error');
            } else {
                if (tipo === "Seleccione uno"){
                    toast('Debe seleccionar un tipo de evento', 'error');
                } else {
                    if (descripcion === ""){
                        toast('Debe completar la descripcion del evento.', 'error');
                    } else {
                        let noti = toast('Agregando evento', 'info');
                        $('#addEvent').modal('hide');
                        axios.post('/evento', {
                            fecha: fecha,
                            tipo: tipo,
                            descripcion: descripcion
                        })
                                .then(function (response) {
                                    noti.update('Evento agregado', 'success');
                                    console.log(response);
                                })
                                .catch(function (error) {
                                    noti.update('Error al agregar evento', 'error');
                                    console.log(error);
                                });
                    }
                }
            }
        }

        function obtenerEventos(){
            let urlEventos = '/eventos/' + (actualMonth + 1) + '/' + actualYear;
            axios.get(urlEventos)
                    .then(function (response) {
                        // handle success
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .finally(function () {
                        // always executed
                    });
        }

        function deferObtenerEventos() {
            if (window.axios) {
                obtenerEventos();
            } else {
                setTimeout(function() { obtenerEventos() }, 100);
            }
        }

        deferObtenerEventos();
    </script>
{{/partial}}

{{> base.hbs}}