{{#partial "content" }}
    </head>
    <!-- Navigation -->
    {{> Nav.hbs}}
    <body class="sticky-footer">
    <div class="content-wrapper" id="sugerenciasContainer" data-id="{{idEvento}}">
        <div class="container-fluid">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item">
                    <a href="/usuario/{{idUser}}" id="direccionDeInicio">Que Me Pongo</a>
                </li>
                <li class="breadcrumb-item active">{{section}}</li>
            </ol>
            <div class="card text-center shadow">
                <div class="card-header">
                    <ul class="nav nav-pills nav-fill card-header-pills">
                        <li class="nav-item">
                            <p class="nav-link active mb-0">
                                Seleccione uno de los atuendos sugeridos a continuacion
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-2">
                    <h5>Descripcion:</h5>
                    <p>{{section}}</p>
                    <hr>
                    {{#each atuendos}}
                    <div id="atuendo{{@index}}" class="atuendo" data-id="{{@index}}">
                        <div class="btn-group mr-2 mb-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success" title="Aceptar atuendo {{@index}}" onclick="aceptar({{@index}})"><i class="fal fa-check-circle"></i> Aceptar</button>
                            <button type="button" class="btn btn-danger" title="Rechazar atuendo {{@index}}" onclick="rechazar({{@index}})"><i class="fal fa-ban"></i> Rechazar</button>
                        </div>
                        <div class="card-deck">
                            {{#each prendasbasicas}}
                                <div class="card col-md-4">
                                    <div style="height: 200px; overflow: hidden;">
                                        <img src="{{foto}}" alt="" style="width: auto">
                                    </div>
                                    <div class="card-body prenda-details prenda{{@../index}}" data-id="{{id}}" data-categoria="{{categoria}}" data-evento="{{tipoEvento}}" data-calor="{{tipoDePrenda.nivelDeCalor}}" data-tela="{{tela}}" data-color1="{{colorPrimario}}" data-color2="{{colorSecundario}}">
                                        <h5 class="card-title">{{nombre}}</h5>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="card-deck">
                            {{#each prendasDeAbrigo}}
                                <div class="card col-md-4">
                                    <div style="height: 200px; overflow: hidden;">
                                        <img src="{{foto}}" alt="" style="width: auto">
                                    </div>
                                    <div class="card-body prenda-details prenda{{@../index}}" data-id="{{id}}" data-categoria="{{categoria}}" data-evento="{{tipoEvento}}" data-calor="{{tipoDePrenda.nivelDeCalor}}" data-tela="{{tela}}" data-color1="{{colorPrimario}}" data-color2="{{colorSecundario}}">
                                        <h5 class="card-title">{{nombre}}</h5>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="card-deck">
                            {{#each accesorios}}
                                <div class="card col-md-4">
                                    <div style="height: 200px; overflow: hidden;">
                                        <img src="{{foto}}" alt="" style="width: auto">
                                    </div>
                                    <div class="card-body prenda-details prenda{{@../index}}" data-id="{{id}}" data-categoria="{{categoria}}" data-evento="{{tipoEvento}}" data-calor="{{tipoDePrenda.nivelDeCalor}}" data-tela="{{tela}}" data-color1="{{colorPrimario}}" data-color2="{{colorSecundario}}">
                                        <h5 class="card-title">{{nombre}}</h5>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <br>

    <script>
        function aceptar(id) {
            enviarPrendas(id);
        }

        function rechazar(id) {
            let clave = 'atuendo' + id;
            document.getElementById(clave).remove();
            let atuendos = document.getElementsByClassName('atuendo');
            if(atuendos.length === 1) {
                let mensaje = 'Solo queda un atuendo, por descarte este es el elegido';
                toast(mensaje, 'info');
                enviarPrendas(atuendos[0].dataset.id);
            }
        }

        function enviarPrendas(atuendo) {
            let prendas = Array.from(document.getElementsByClassName('prenda' + atuendo)).map(e => e.dataset.id);
            let id_evento = document.getElementById('sugerenciasContainer').dataset.id;
            let noti = toast('Asignando atuendo a evento', 'info');
            axios.post('/atuendo', {
                prendas: prendas, id_evento: id_evento
            })
            .then(function (response) {
                if (response.data) {
                    noti.update('Atuendo asignado', 'success');
                    setTimeout(function() { window.location.href = document.getElementById('direccionDeInicio').href }, 2000);
                } else {
                    noti.update('Error al asignar el atuendo, vaya al inicio y vuelva a entrar', 'error');
                    console.log(response);
                }
            })
            .catch(function (error) {
                noti.update('Error al asignar el atuendo, vaya al inicio y vuelva a entrar', 'error');
                console.log(error);
            });
        }
    </script>
{{/partial}}

{{> base.hbs}}