{{#each guardarropas as |gr|}}
    <a class="list-group-item list-group-item-action pb-0"
       style="cursor: pointer;"
       data-instant="">
        <p>{{gr.nombre.text}}</p>
    </a>
{{!--
    <div class="card-deck">
        <div class="card col-md-3">
            <div style="height: 200px; overflow: hidden;">
                <img src="{{primero.foto}}" alt="" style="width: auto">
            </div>
            <div class="card-body prenda-details" data-categoria="{{primero.categoria}}" data-evento="{{primero.tipoEvento}}" data-calor="{{primero.tipoDePrenda.nivelDeCalor}}" data-tela="{{primero.tela}}" data-color1="{{primero.colorPrimario}}" data-color2="{{primero.colorSecundario}}">
                <h5 class="card-title">{{primero.nombre}}</h5>
            </div>
        </div>
        {{#if tieneSegundo}}
            <div class="card col-md-3">
                <div style="height: 200px; overflow: hidden;">
                    <img src="{{segundo.foto}}" alt="" style="width: auto">
                </div>
                <div class="card-body prenda-details" data-categoria="{{segundo.categoria}}" data-evento="{{segundo.tipoEvento}}" data-calor="{{segundo.tipoDePrenda.nivelDeCalor}}" data-tela="{{segundo.tela}}" data-color1="{{segundo.colorPrimario}}" data-color2="{{segundo.colorSecundario}}">
                    <h5 class="card-title">{{segundo.nombre}}</h5>
                </div>
            </div>
        {{/if}}
        {{#if tieneTercero}}
            <div class="card col-md-3">
                <div style="height: 200px; overflow: hidden;">
                    <img src="{{tercero.foto}}" alt="" style="width: auto">
                </div>
                <div class="card-body prenda-details" data-categoria="{{tercero.categoria}}" data-evento="{{tercero.tipoEvento}}" data-calor="{{tercero.tipoDePrenda.nivelDeCalor}}" data-tela="{{tercero.tela}}" data-color1="{{tercero.colorPrimario}}" data-color2="{{tercero.colorSecundario}}">
                    <h5 class="card-title">{{tercero.nombre}}</h5>
                </div>
            </div>
        {{/if}}
        {{#if tieneCuarto}}
            <div class="card col-md-3">
                <div style="height: 200px; overflow: hidden;">
                    <img src="{{cuarto.foto}}" alt="" style="width: auto">
                </div>
                <div class="card-body prenda-details" data-categoria="{{cuarto.categoria}}" data-evento="{{cuarto.tipoEvento}}" data-calor="{{cuarto.tipoDePrenda.nivelDeCalor}}" data-tela="{{cuarto.tela}}" data-color1="{{cuarto.colorPrimario}}" data-color2="{{cuarto.colorSecundario}}">
                    <h5 class="card-title">{{cuarto.nombre}}</h5>
                </div>
            </div>
        {{/if}}
    </div>
    <br>--}}
{{/each}}