{{#partial "content" }}
    </head>
    <!-- Navigation -->
    {{> Nav.hbs}}

    <body class="text-center sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item">
                    <a href="#">Que Me Pongo</a>
                </li>
                <li class="breadcrumb-item active">{{section}}</li>
            </ol>
            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <div class="card shadow">
                        <div class="card-header text-center">
                            <ul class="nav nav-pills nav-fill card-header-pills">
                                <li class="nav-item">
                                    <p class="nav-link active mb-0" title="Eventos en los proximos dos dias">
                                        Proximos eventos
                                    </p>
                                </li>
                            </ul>
                        </div>
                        {{#if sinEventosProximos}}
                            <div class="card-body text-center p-0">
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action pb-0" href=""
                                       style="cursor: pointer;" title="Haz click para ver detalles del evento pasado"
                                       data-toggle="modal" data-target="#eventoPasadoModal">
                                        <p><span class="badge badge-pill badge-warning"> No hay eventos </span></p>
                                    </a>
                                </div>
                            </div>
                        {{else}}
                            {{#each eventos_proximos}}
                                <div class="card-body text-center p-0">
                                    <div class="list-group list-group-flush">
                                        <a class="list-group-item list-group-item-action pb-0" href=""
                                           style="cursor: pointer;" title="Haz click para ver detalles del evento"
                                           data-toggle="modal" data-target="#eventoProx{{id}}">
                                            <p>{{ frecuencia.fechaLinda }}<span
                                                    class="badge badge-pill badge-success"> {{ tipoDeEvento }} </span>
                                            </p>
                                        </a>
                                    </div>
                                </div>

                            <div class="modal fade" id="eventoProx{{id}}" tabindex="-1" role="dialog"
                                 aria-labelledby="eventoModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info text-white">
                                            <h5 class="modal-title" id="eventoModalLabel">{{ frecuencia.fechaLinda }}
                                                - {{ tipoDeEvento }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body center">
                                            <h3>Descripcion:</h3>
                                            {{ descripcion  }}
                                            <h3>Atuendo seleccionado: {{ atuendo.id }}</h3>
                                            <div class="row center" style="justify-content:center">
                                                {{#each atuendo.prendasbasicas}}
                                                    <div class="card-deck col-md-4 center"
                                                         style="margin-top: 5px; margin-bottom: 5px;">
                                                        <div class="card center" style="">
                                                            <img src="{{foto}}" alt=""
                                                                 style="width: 100%; height: 200px">
                                                            <div class="card-body prenda-details"
                                                                 data-categoria="{{categoria}}"
                                                                 data-evento="{{tipoEvento}}"
                                                                 data-calor="{{tipoDePrenda.nivelDeCalor}}"
                                                                 data-tela="{{tela}}" data-color1="{{colorPrimario}}"
                                                                 data-color2="{{colorSecundario}}">
                                                                <h6 class="card-title">{{nombre}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                                {{#each atuendo.prendasDeAbrigo}}
                                                    <div class="card-deck col-md-4 center"
                                                         style=" margin-top: 5px; margin-bottom: 5px;">
                                                        <div class="card center" style=" ">
                                                            <img src="{{foto}}" alt=""
                                                                 style="width: 100%; height: 200px">
                                                            <div class="card-body prenda-details"
                                                                 data-categoria="{{categoria}}"
                                                                 data-evento="{{tipoEvento}}"
                                                                 data-calor="{{tipoDePrenda.nivelDeCalor}}"
                                                                 data-tela="{{tela}}" data-color1="{{colorPrimario}}"
                                                                 data-color2="{{colorSecundario}}">
                                                                <h3 class="card-title">{{nombre}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                                {{#each atuendo.accesorios}}
                                                    <div class="card-deck col-md-4 center" style="
                                                     margin-top: 5px; margin-bottom: 5px;">
                                                        <div class="card center" style="">
                                                            <img src="{{foto}}" alt=""
                                                                 style="width: 100%; height: 200px">
                                                            <div class="card-body prenda-details"
                                                                 data-categoria="{{categoria}}"
                                                                 data-evento="{{tipoEvento}}"
                                                                 data-calor="{{tipoDePrenda.nivelDeCalor}}"
                                                                 data-tela="{{tela}}" data-color1="{{colorPrimario}}"
                                                                 data-color2="{{colorSecundario}}">
                                                                <h3 class="card-title">{{nombre}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                        <br>
                        <div class="card shadow">
                            <div class="card-header text-center">
                                <ul class="nav nav-pills nav-fill card-header-pills">
                                    <li class="nav-item">
                                        <p class="nav-link active mb-0"
                                           title="Sugerencias para eventos pendientes de aprobacion">
                                            Sugerencias disponibles
                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body text-center p-0">
                                <div class="list-group list-group-flush">
                                    {{#if sinSugerencias}}
                                        <a class="list-group-item list-group-item-action pb-0" href="/evento/{{id}}"
                                           style="cursor: pointer;"
                                           title="Haz click para ver detalles del evento pasado"
                                           data-toggle="modal" data-target="#eventoPasadoModal">
                                            <p><span class="badge badge-pill badge-warning"> No hay eventos </span></p>
                                        </a>
                                    {{else}}
                                        {{#each sugerencias}}

                                            <a class="list-group-item list-group-item-action pb-0" href="/evento/{{id}}"
                                               style="cursor: pointer;"
                                               title="Haz click para ir al evento y seleccionar un atuendo"
                                               data-instant="">
                                                <p>{{ frecuencia.fechaLinda }} <span
                                                        class="badge badge-pill badge-success"> {{ tipoDeEvento }} </span>
                                                </p>
                                            </a>

                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>


                        </div>
                        <br>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="card shadow">
                            <div class="card-header text-center">
                                <ul class="nav nav-pills nav-fill card-header-pills">
                                    <li class="nav-item">
                                        <p class="nav-link active mb-0" title="Sugerencias de los eventos pasados">
                                            Eventos pasados
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            {{#if sinEventosPasados}}
                                <div class="card-body text-center p-0">
                                    <div class="list-group list-group-flush">
                                        <a class="list-group-item list-group-item-action pb-0" href="/evento/{{id}}"
                                           style="cursor: pointer;"
                                           title="Haz click para ver detalles del evento pasado"
                                           data-toggle="modal" data-target="#eventoPasadoModal">
                                            <p><span class="badge badge-pill badge-warning"> No hay eventos </span></p>
                                        </a>
                                    </div>
                                </div>
                            {{else}}

                                {{#each eventos_pasados}}
                                    <div class="card-body text-center p-0">
                                        <div class="list-group list-group-flush">
                                            <a class="list-group-item list-group-item-action pb-0" href=""
                                               style="cursor: pointer;"
                                               title="Haz click para ver detalles del evento pasado" data-toggle="modal"
                                               data-target="#eventoPasado{{id}}">
                                                <p>{{ frecuencia.fechaLinda }} <span
                                                        class="badge badge-pill badge-success"> {{ tipoDeEvento }} </span>
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                            <div class="modal fade" id="eventoPasado{{id}}" tabindex="-1" role="dialog"
                                 aria-labelledby="eventoModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info text-white">
                                            <h5 class="modal-title" id="eventoModalLabel">{{ frecuencia.fechaLinda }}
                                                - {{ tipoDeEvento }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body center">
                                            <h5>Descripcion:</h5>
                                            {{ descripcion  }}
                                            <h5>Atuendo seleccionado: {{ atuendo.id }}</h5>
                                            <div class="row center" style="justify-content:center">
                                                {{#each atuendo.prendasbasicas}}
                                                    <div class="card-deck col-md-4 center"
                                                         style="margin-top: 5px; margin-bottom: 5px;">
                                                        <div class="card center" style="">
                                                            <img src="{{foto}}" alt=""
                                                                 style="width: 100%; height: 200px">
                                                            <div class="card-body prenda-details"
                                                                 data-categoria="{{categoria}}"
                                                                 data-evento="{{tipoEvento}}"
                                                                 data-calor="{{tipoDePrenda.nivelDeCalor}}"
                                                                 data-tela="{{tela}}" data-color1="{{colorPrimario}}"
                                                                 data-color2="{{colorSecundario}}">
                                                                <h6 class="card-title">{{nombre}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                                {{#each atuendo.prendasDeAbrigo}}
                                                    <div class="card-deck col-md-4 center"
                                                         style=" margin-top: 5px; margin-bottom: 5px;">
                                                        <div class="card center" style=" ">
                                                            <img src="{{foto}}" alt=""
                                                                 style="width: 100%; height: 200px">
                                                            <div class="card-body prenda-details"
                                                                 data-categoria="{{categoria}}"
                                                                 data-evento="{{tipoEvento}}"
                                                                 data-calor="{{tipoDePrenda.nivelDeCalor}}"
                                                                 data-tela="{{tela}}" data-color1="{{colorPrimario}}"
                                                                 data-color2="{{colorSecundario}}">
                                                                <h6 class="card-title">{{nombre}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                                {{#each atuendo.accesorios}}
                                                    <div class="card-deck col-md-4 center" style="
                                                     margin-top: 5px; margin-bottom: 5px;">
                                                        <div class="card center" style="">
                                                            <img src="{{foto}}" alt=""
                                                                 style="width: 100%; height: 200px">
                                                            <div class="card-body prenda-details"
                                                                 data-categoria="{{categoria}}"
                                                                 data-evento="{{tipoEvento}}"
                                                                 data-calor="{{tipoDePrenda.nivelDeCalor}}"
                                                                 data-tela="{{tela}}" data-color1="{{colorPrimario}}"
                                                                 data-color2="{{colorSecundario}}">
                                                                <h6 class="card-title">{{nombre}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function generarDescripcion() {
                    let prendas = document.getElementsByClassName('prenda-details');
                    if (prendas.length > 0) {
                        for (let prenda of prendas) {
                            let categoria = prenda.dataset.categoria;
                            let evento = prenda.dataset.evento;
                            let calor = prenda.dataset.calor;
                            let tela = prenda.dataset.tela;
                            let color1 = prenda.dataset.color1;
                            let color2 = prenda.dataset.color2;
                            let descripcion = '<p>Prenda ';
                            if (parseInt(calor) > 0) {
                                descripcion += 'de abrigo con un nivel ' + calor + ' de abrigo ';
                            }
                            descripcion += 'para eventos de tipo ' + evento + ' que se usa en ' + categoria + ' hecha de ' + tela + ' en los colores ' + color1 + ' y ' + color2 + '.</p>';
                            prenda.innerHTML += descripcion;
                        }
                    }
                }

                generarDescripcion();

            </script>

{{/partial}}

{{> base.hbs}}